<!-- 
  Custom Email Template
  Used for sending password reset link via email.
  References:
  https://resend.com/docs/send-with-astro
  https://developers.netlify.com/guides/send-emails-with-astro-and-resend/#create-the-email-sending-utility

  Related files:
    - src/utils/email.ts
    - src/utils/email-ethereal.ts
    - src/utils/templates/custom.ejs
    - src/utils/templates/welcome.ejs
    - src/pages/api/send-email.ts
    - src/pages/api/send-welcome-email.ts
    - src/pages/sendmail.astro
    - src/pages/success.astro
-->
<div style="max-width: 600px; border: 1px solid #efefef; padding: 16px">
    <!-- Header -->
    <div style="margin-bottom: 32px">
        <p style="color: forestgreen">RESET PASSWORD</p>
    </div>
    <!-- Main Content -->
    <div style="margin-bottom: 32px; color: #222"><%- html %></div>
    <!-- Footer -->
    <div style="color: #5f5f5f">
        <p>STIMS Design</p>
    </div>
</div>